
@{
    ViewBag.Title = "Index";
}

<h1>INGRESE SU NOMBRE  </h1>

@using (Html.BeginForm("Calcularnotas", "Notas", FormMethod.Post))
{

<label for="nombre">Ingrese nombre </label>
<br>
<input type="text" name="nombre" required placeholder="Escribe tu nombre">
<br>
<h2>INGRESE SUS NOTAS</h2>
<br>
<label for="labo1">Laboratorio 1 </label>
<br>
<input type="text" name="labo1" required>
<br>
<label for="par1">Parcial 1 </label>
<br>
<input type="text" name="par1" required>
<br>
<label for="labo2">Laboratorio 2 </label>
<br>
<input type="text" name="labo2" required>
<br>
<label for="par2">Parcial 2 </label>
<br>
<input type="text" name="par2" required>
<br>
<label for="labo3">Laboratorio 3 </label>
<br>
<input type="text" name="labo3" required>
<br>
<label for="par3">Parcial 3 </label>
<br>
<input type="text" name="par3" required>
<br>
<input type="submit" value="Enviar notas">
}